<section class="about" id="about">
  <div class="about__container">
    <div class="about__label">tradition and love</div>
    <h2 class="about__title">how it’s made?</h2>
    <div class="about__description">
      <div class="about__picture">
        <picture>
          <source
            srcset="
              ./images/about/desktop/big-eco-desktop.png    1x,
              ./images/about/desktop/big-eco-desktop@2x.png 2x
            "
            media="(min-width: 1280px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/about/tablet/big-eco-tablet.png    1x,
              ./images/about/tablet/big-eco-tablet@2x.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/about/mobile/big-eco-mobile.png    1x,
              ./images/about/mobile/big-eco-mobile@2x.png 2x
            "
            media="(min-width: 320px)"
            type="image/png"
          />
          <img src="./images/about/desktop/big-eco-desktop.png" alt="cow and milk" />
        </picture>
      </div>
      <div class="about__text-box">
        <p class="about__text about__text--first">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="about__text about__text--second">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.
        </p>

        <p class="about__text about__text--third">Aliquam erat volutpat. Aenean accumsan.</p>

        <button type="button" class="button button--secondary about__button">
          <span class="button__text">Read more</span>
          <svg class="button__icon">
            <use href="./icons/sprite.svg#icon-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
