<section class="contacts"  id="contacts">
  <h2 class="visually-hidden">Contacts</h2>
  
  <div class="contacts__container">
  <ul class="contacts__list">
    <li class="contacts__item">
      <div class="contacts__category">CAFE</div>

      <div class="contacts__city">
        <h3 class="contacts__title">Chicago</h3>
        <p class="contacts__text-city">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      </div>
        <ul class="contacts__work-schedule">
          <li class="contacts__work-schedule-item">
            <h3 class="contacts__work-schedule-title">Monday - Friday</h3>
            <p class="contacts__work-schedule-text">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__work-schedule-item">
            <h3 class="contacts__work-schedule-title">Saturday - Sunday</h3>
            <p class="contacts__work-schedule-text">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
      <ul class="contacts__connection-list">
        <li><a class="contacts__link" href="tel:+610383766284">+61(0) 383 766 284</a></li>
        <li><a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
      </ul>
    </li>
    <li class="contacts__item">
      <div class="contacts__category-food-truck">FOOD TRUCK</div>
      <div class="contacts__city">
        <h3 class="contacts__title">Los Angeles</h3>
        <p class="contacts__text-city">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      </div>    
        <ul class="contacts__work-schedule">
          <li class="contacts__work-schedule-item">
            <h3 class="contacts__work-schedule-title">Monday - Friday</h3>
            <p class="contacts__work-schedule-text">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__work-schedule-item">
            <h3 class="contacts__work-schedule-title">Saturday - Sunday</h3>
            <p class="contacts__work-schedule-text">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
      <ul class="contacts__connection-list">
        <li><a class="contacts__link" href="tel:+610383766284">+61(0) 383 766 284</a></li>
        <li><a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
      </ul>
    </li>
    <li class="contacts__item">
      <div class="contacts__category">CAFE</div>
      <div class="contacts__city">
        <h3 class="contacts__title">New York</h3>
        <p class="contacts__text-city">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      </div>
        <ul class="contacts__work-schedule">
          <li class="contacts__work-schedule-item">
            <h3 class="contacts__work-schedule-title">Monday - Friday</h3>
            <p class="contacts__work-schedule-text">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__work-schedule-item">
            <h3 class="contacts__work-schedule-title">Saturday - Sunday</h3>
            <p class="contacts__work-schedule-text">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
      <ul class="contacts__connection-list">
        <li><a class="contacts__link" href="tel:+610383766284">+61(0) 383 766 284</a></li>
        <li><a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
      </ul>
    </li>
  </ul>
  <div class="contacts__btn">
<button class="contacts__btn-Locations">Our Locations
  <svg class="icon-Locations">
    <use href="../src/icons/sprite.svg#icon-right"></use>
  </svg>
</button>
<button class="contacts__btn-Franchise" type="button">Franchise
  <svg class="icon-Franchise">
    <use href="../src/icons/sprite.svg#icon-right" type="button"></use>
  </svg>
</button>
</div></div>
</section>