<footer class="footer">
  <div class="footer__main-container">
    <!-- Footer heading -->
    <div class="footer__headings">
      <p class="footer__heading-one">homemade ice cream made</p>
      <p class="footer__heading-two">
        <span class="footer__heading-two--br">with</span>
        <span class="footer__heading-two--br">passion</span>
      </p>
    </div>

    <div class="social-icons-phone">
      <!-- Social Icons -->
      <ul class="social-icons__list">
        <li class="social-icons_item">
          <a href="" class="social-icons__link" target="_blank" rel="noopener noreferrer"
            ><svg class="social-icons__svg" width="18" height="18">
              <use href="./icons/sprite.svg#icon-github"></use></svg
          ></a>
        </li>

        <li class="social-icons_item">
          <a href="" class="social-icons__link" target="_blank" rel="noopener noreferrer"
            ><svg class="social-icons__svg" width="18" height="18">
              <use href="./icons/sprite.svg#icon-telegram"></use></svg
          ></a>
        </li>

        <li class="social-icons_item">
          <a href="" class="social-icons__link" target="_blank" rel="noopener noreferrer"
            ><svg class="social-icons__svg" width="18" height="18">
              <use href="./icons/sprite.svg#icon-facebook"></use></svg
          ></a>
        </li>
      </ul>

      <!-- Contact number -->
      <p class="footer-phone">
        Feel free to contact
        <a href="tel:+610383766284" class="footer-phone__link"
          ><span class="footer-phone__number">+61 (0) 383 766 284</span></a
        >
      </p>
    </div>
  </div>

  <!-- Footer copyright -->
  <p class="footer__copyright">
    <span class="footer__copyright-text">&copy; 2019 - IceCream.</span>
    <span class="footer__copyright-text"> All Rights Reserved.</span>
  </p>
</footer>
