<div class="backdrop backdrop--is-hidden" data-menu-backdrop>
  <div class="mobile-menu">
    <button type="button" class="close-button" data-menu-modal-close>
      <svg class="icon-close">
        <use href="./icons/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <button type="button" class="button button--secondary mobile-menu__button">
      <span class="button__text">Buy now</span>
      <svg class="button__icon">
        <use href="./icons/sprite.svg#icon-right"></use>
      </svg>
    </button>
    <div>
      <nav class="mobile-menu__navigation">
        <ul class="mobile-menu__list">
          <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="#hero-header" data-menu-modal-close>Home</a>
          </li>
          <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="#advantages" data-menu-modal-close>About us</a>
          </li>
          <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="#about" data-menu-modal-close>How it's made?</a>
          </li>
          <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="#products" data-menu-modal-close>Our products</a>
          </li>
          <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="#contacts" data-menu-modal-close>Contacts</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
